###> symfony/framework-bundle ###
DEFAULT_URI=http://localhost
APP_ENV=dev
APP_SECRET=change_me_to_a_random_string
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Mettre les mêmes identifiants que dans le .env à la racine
DATABASE_URL="mysql://udbsfapi:change_this_user_password@database:3306/dbsfapi?serverVersion=10.11.2-MariaDB&charset=utf8mb4"

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|0\.0\.0\.0)(:[0-9]+)?$'

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_to_a_random_passphrase
