# Nom du projet Docker Compose (préfixe les noms des conteneurs, réseaux et images)
COMPOSE_PROJECT_NAME=hnefatafl

# Identifiants et permissions utilisateur (Utile pour éviter les problèmes de droits de fichiers montés via les volumes)
USER_ID=1000
GROUP_ID=1000
USER_NAME=user
GROUP_NAME=user

# Configuration de la Base de Données (MySQL / MariaDB)
DATABASE_PORT=3307
DATABASE_NAME=dbsfapi
DATABASE_ROOT_PASSWORD=change_this_root_password
DATABASE_USER=udbsfapi
DATABASE_USER_PASSWORD=change_this_user_password
