@bg-parchment: #F4F1EA;       // Fond page
@green-viking: #3E5C45;       // Primaire
@green-dark: #2E4A35;         // Hover (Boutons)
@gold-runic: #DAA520;         // Accent (Icônes, Liens)
@wood-charred: #2B231D;       // Texte principal
@wood-light: #6B5D52;         // Texte secondaire
@stone-gray: #D1CEC5;         // Bordures
@white: #FFFFFF;

.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}