@import "_variables.less";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: @bg-parchment;
  color: @wood-charred;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
